$blue: #0074c1;
// $blue: #1e73be;
// $blue: #2e40ab;

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.content-wrapper {
  flex-grow: 1;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 425px) {
  .content {
    flex-direction: column;
  }
}

.title {
}

.item {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  transition: all 0.05s ease-in;
  padding: 0.75em;
  margin: 1em 2em;
  width: 10em;
  align-items: center;
  color: $blue;
  border: 2px $blue solid;
  border-radius: 8px;

  &:hover {
    color: white;
    background-color: $blue;

    .icon {
      fill: white;
    }
  }
}

.icon {
  fill: $blue;
}

.logo {
  height: 1.5em;
}

.label {
  flex-grow: 1;
  font-size: 1em;
}

.wave {
  position: absolute;
  bottom: -85px;
  z-index: -1;
}
@media (max-width: 1000px) {
  .wave {
    bottom: -75px;
  }
}
@media (max-width: 800px) {
  .wave {
    bottom: -40px;
  }
}
@media (max-width: 640px) {
  .wave {
    bottom: -20px;
  }
}
@media (max-width: 550px) {
  .wave {
    bottom: -0px;
  }
}

.wave-shape {
  fill: $blue;
}

.email-wrapper {
  margin: 1.5em 0px;
}
@media (max-width: 425px) {
  .email-wrapper {
    margin: 15px 0px;
  }
}

.email {
  color: white;
  text-decoration: none;
  font-size: 0.8em;

  &:hover {
    text-decoration: underline;
  }
}
