$blue: #1976d1;

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 425px) {
  .content {
    flex-direction: column;
  }
}

.title {
  color: $blue;
  font-weight: normal;
  margin-top: 4em;
}

.subtitle {
  font-size: 0.8em;
  color: $blue;
  margin: 0 4em;
  margin-top: 1em;
}

@media (max-width: 450px) {
  .subtitle {
    margin: 1em 2em 0 2em;
  }
}

.item {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  transition: all 0.05s ease-in;
  padding: 0.75em;
  margin: 1em 2em;
  width: 10em;
  align-items: center;
  color: $blue;
  border: 2px $blue solid;
  border-radius: 8px;

  &:hover {
    color: white;
    background-color: $blue;

    .icon {
      fill: white;
    }
  }
}

.icon {
  fill: $blue;
}

.logo {
  height: 1.5em;
}

.label {
  flex-grow: 1;
  font-size: 1em;
}

.email-wrapper {
  padding: 1.5em 0px;
  background-image: url(/assets/wave.svg);
  background-position: center bottom;
  background-size: 1440px 126px;
  background-repeat: repeat-x;
}
@media (max-width: 425px) {
  .email-wrapper {
    margin: 15px 0px;
  }
}

.wave-wrapper {
  height: 150px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.wave-svg {
  height: 100%;
  width: 100%;
}

.wave {
  stroke: none;
  fill: $blue;
}

.email {
  color: white;
  text-decoration: none;
  font-size: 0.8em;

  &:hover {
    text-decoration: underline;
  }
}
