* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: verdana;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: x-large;
  overflow: hidden;
}
@media (max-width: 1000px) {
  body {
    font-size: large;
  }
}
@media (max-width: 500px) {
  body {
    font-size: medium;
  }
}
